/* 中文使用 Source Han Sans SC */
@font-face {
  font-family: 'Source Han Sans SC';
  src: local('Source Han Sans SC'), local('Source Han Sans SC-Regular'), 
  url('azhu/SourceHanSansSC-Regular.otf');
}

/* 英文使用 Jetbrains Mono */
@font-face {
  font-family: 'Jetbrains Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Jetbrains Mono'), local('Jetbrains-Mono-Regular'),
    url('azhu/JetBrainsMono-Regular.woff2') format('woff2');
}

:root {
  --side-bar-bg-color: #ffffff;
  --control-text-color: #777777;
  --select-text-bg-color: #87CEFA; /* 选中文本的背景颜色 */
  --active-file-bg-color: #87CEFA; /* 文件树或文件列表中当前项的背景色 --main-3: */
  --active-file-text-color: #000000;
  --active-file-border-color: #1E90FF; /* --main-6: */
  --primary-color: #1E90FF; /* --main-6: */

  /* 中性色 */
  --mid-1: #ffffff;
  --mid-2: #fafafa;
  --mid-3: #f5f5f5;
  --mid-4: #f0f0f0;
  --mid-5: #d9d9d9;
  --mid-6: #bfbfbf;
  --mid-7: #8c8c8c;
  --mid-8: #595959;
  --mid-9: #434343;
  --mid-10: #262626;
  --mid-11: #1f1f1f;
  --mid-12: #141414;
  --mid-13: #000000;

  /* 主题色 */
  --main-1: #f0f9ff ;
  --main-2: #c8e5fc ;
  --main-3: #87CEFA ;
  --main-4: #59aefd ;
  --main-5: #198cff ;
  --main-6: #0000CD ;
  --main-7: #0101aa ;
  --main-8: #000081 ;
  --main-9: #01015f ;
  --main-10: #000044 ;
  
}

html, body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Jetbrains Mono', 'Source Han Sans SC', 'SimSun', sans-serif !important;
  line-height: 1.6rem;
  color: var(--mid-11);
  letter-spacing: 0;
}

/* 编辑区 */
#write {
  max-width: 75%;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 300px;
}

#write p {
  word-spacing: 0.05rem;
}

#write ol li {
  margin-left: -4px;
}

#write ol li p {
  margin-left: 4px;
}

#write ul {
  line-height: 2rem;
}

#write > ul:first-child,
#write > ol:first-child {
  margin-top: 30px;
}

body > *:first-child {
  margin-top: 0 !important;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

a {
  padding: 0 2px;
  font-weight: 500;
  color: var(--main-6);
  text-decoration: none;
}

/* 链接 */
#write a {
  color: var(--main-6);
  text-decoration: none;
  border-bottom: 1px solid var(--main-6);
}

/* 链接内容为空时直接啥也不显示，比如锚点的地方 */
#write a:empty {
  font-size: 0;
  border: none;
}

/* toc目录 */
#write a.md-toc-inner {
  line-height: 1.6;
  white-space: pre-line;
  border-bottom: none;
}

#write a:hover {
  color: var(--main-7);
  border-bottom: 2px solid var(--main-6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
}

h1 tt,
h1 code,
h2 tt,
h2 code,
h3 tt,
h3 code,
h4 tt,
h4 code,
h5 tt,
h5 code,
h6 tt,
h6 code {
  font-size: inherit !important;
}

h2 a,
h3 a {
  color: var(--mid-9);
}

h1 {
  padding-bottom: 0.3em;
  margin: 2.4em auto 1.2em;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}

/* 一级标题下方的虚线 */
h1::after {
  display: block;
  width: 250px;
  height: 2px;
  margin: 0.2em auto 0;
  content: '';
  border-bottom: 5px dashed var(--main-6);
}

h2 {
  padding-left: 6px;
  margin: 2em auto 1.0em;
  font-size: 1.8em;
  line-height: 1.4;
  border-left: 6px solid var(--main-6);
  border-bottom: 2px solid var(--main-6);
}

h3 {
  margin: 1.0em auto 1.0em;
  font-size: 1.6em;
  line-height: 1.43;
}

/* --- 三级标题左边的小点 --- */
h3::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  margin-bottom: 0.18em;
  line-height: 1.43;
  vertical-align: middle;
  content: '';
  background-color: var(--main-5);
  border-radius: 0%;
}

/* 三级四级标题点击后左边的提示图标 */
#write > h3.md-focus::before,
#write > h4.md-focus::before {
  width: auto;
  height: auto;
  color: var(--mid-1);
  background-color: var(--main-5);
}

h4 {
  margin-top: 1.0em;
  font-size: 1.4em;
}

/* --- 四级标题左边的短线 --- */
h4::before {
  display: inline-block;
  width: 16px;
  height: 5px;
  margin-right: 6px;
  margin-bottom: 0.18em;
  vertical-align: middle;
  content: '';
  background-color: var(--main-5);
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
  color: var(--mid-7);
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 0.8em 0;
}

li > ol,
li > ul {
  margin: 0;
}

hr {
  box-sizing: content-box;
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 46px auto 64px;
  overflow: hidden;
  background-color: var(--main-4);
  border: 0;
}

body > h2:first-child {
  padding-top: 0;
  margin-top: 0;
}

body > h1:first-child {
  padding-top: 0;
  margin-top: 0;
}

body > h1:first-child + h2 {
  padding-top: 0;
  margin-top: 0;
}

body > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
  padding-top: 0;
  margin-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
  padding-top: 0;
  margin-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin-top: 0;
}

li p.first {
  display: inline-block;
}

ul,
ol {
  padding-left: 30px;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

/* 引用块 */
blockquote {
  position: relative;
  padding: 24px 16px 12px;
  margin: 24px 0 36px;
  font-size: 1em;
  font-style: normal;
  line-height: 1.6;
  color: var(--mid-7);
  text-indent: 0;
  border: none;
  border-left: 2px solid var(--main-6);
}

blockquote blockquote {
  padding-right: 0;
}

blockquote a {
  color: var(--main-4);
}

/* 引用块左边的竖线 */
blockquote::before {
  position: absolute;
  top: 0;
  left: 12px;
  font-family: Arial, serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  color: var(--main-6);
  content: '“';
}

table {
  padding: 0;
  margin: 36px auto;
  word-break: initial;
}

table tr {
  padding: 0;
  margin: 0;
  border-top: 1px solid #dfe2e5;
}

table tr:nth-child(2n),
thead {
  background-color: var(--mid-3);
}

/* 表头（列名） */
table tr th {
  padding: 6px 13px;
  margin: 0;
  font-weight: bold;
  text-align: left;
  border: 1px solid #8c8c8c;
  border-bottom: 0;
}

/* 表数据（列值） */
table tr td {
  padding: 6px 13px;
  margin: 0;
  text-align: left;
  border: 1px solid #8c8c8c;
  background-color: var(--mid-4);
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}

/* 表头背景色 */
#write table thead th {
  text-align: left;
  background-color: var(--main-2);
}

#write strong {
  padding: 0 1px;
}

#write em {
  padding: 0 5px 0 2px;
}

#write .CodeMirror-gutters {
  border-right: none;
}

/* 代码块 */
#write .md-fences {
  margin: 1.8rem 0 2rem !important;
  font-family: 'Jetbrains Mono';
  font-size: 0.9rem;
  line-height: 1.55rem;
  color: var(--mid-10);
  word-wrap: normal;
  -webkit-font-smoothing: initial;
}

#write .CodeMirror-wrap .CodeMirror-code pre {
  padding-left: 12px;
  line-height: 1.55rem;
}

#write .CodeMirror-cursors .CodeMirror-cursor {
  border-left: 2px solid var(--mid-4);
}

/* 行内代码 */
#write code,
tt {
  padding: 2px 4px 1px;
  margin: 0 2px;
  font-family: 'Jetbrains Mono';
  font-size: 1.0rem;
  color: var(--main-6);
  background-color: var(--main-1);
  border-radius: 3px;
}

#write .md-footnote {
  color: var(--main-5);
  background-color: var(--main-1);
}

/* 流程图块 */
#write .md-diagram-panel {
  position: relative;
  margin: 24px auto;
}

#write .md-focus .md-diagram-panel {
  border: 1px solid var(--main-4);
  border-radius: 4px;
}

/* 突出强调. */
#write mark {
  padding: 2px 4px;
  margin: 0 2px;
  font-weight: 500;
  color: var(--mid-12);
  background-color: var(--main-4);
  border-radius: 2px;
  border-radius: 4px;
}

#write del {
  padding: 1px 2px;
}

/* 任务列表小方框 */
.md-task-list-item > input {
  margin-top: 0.3rem;
  margin-left: -1.3em;
  -webkit-appearance: none;
}

.md-task-list-item > input::before {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-top: -0.4rem;
  font-size: 0.8rem;
  color: var(--mid-1);
  text-align: center;
  vertical-align: middle;
  content: '';
  border: 1px solid var(--main-4);
  border-radius: 2px;
  transition: all 0.2s linear;
}

.md-task-list-item > input:checked::before,
.md-task-list-item > input[checked]::before {
  font-size: 0.625rem;
  color: var(--mid-1);
  content: '\2714';
  background-color: var(--main-6);
  border: 1px solid var(--main-6);
}

@media print {
  html {
    font-size: 13px;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  pre {
    word-wrap: break-word;
  }
}

#write pre.md-meta-block {
  margin-top: 0 !important;
  font-size: 85%;
  line-height: 1.45;
  color: #777777;
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
}

.mathjax-block > .code-tooltip {
  bottom: 0.375rem;
}

#write > h3.md-focus::before {
  top: 0.375rem;
  left: -1.5625rem;
}

#write > h4.md-focus::before {
  top: 0.285714286rem;
  left: -1.5625rem;
}

#write > h5.md-focus::before {
  top: 0.285714286rem;
  left: -1.5625rem;
}

#write > h6.md-focus::before {
  top: 0.285714286rem;
  left: -1.5625rem;
}

/* 图片 */
.md-image {
  margin: 24px auto;
  border-radius: 4px;
}

/* 自动在图片四周添加黑色阴影 */
.md-image img {
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 24px -6px #000000;
}

.md-image > .md-meta {
  padding: 2px 0 0 4px;
  font-family: 'Jetbrains Mono', 'Liberation Mono', Courier, monospace;
  font-size: 0.9em;
  color: inherit;
  border-radius: 3px;
}

/* emoji表情 */
.md-emoji-span::before {
  font-weight: 400;
  vertical-align: inherit;
  content: attr(data-emoji);
}

.md-tag {
  color: inherit;
}

.md-toc {
  padding-bottom: 20px;
  margin-top: 20px;
}

.sidebar-tabs {
  border-bottom: none;
}

/* 快速打开 */
#typora-quick-open {
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
}

#typora-quick-open-item {
  background-color: #fafafa;
  border-color: #fefefe #e5e5e5 #e5e5e5 #eeeeee;
  border-style: solid;
  border-width: 1px;
}

#md-notification::before {
  top: 10px;
}

/* 专注模式 */
.on-focus-mode blockquote {
  border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
  font-family: 'Segoe UI', 'Arial', sans-serif;
}

/* 文件结点 */
.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
  visibility: visible;
}
/* 文件结点文字颜色 */
.file-node-title-name-part{
  color: var(--mid-12);
}

.mac-seamless-mode #typora-sidebar {
  background-color: var(--side-bar-bg-color);
}

.md-lang {
  color: #b4654d;
  /* color: var(--main-3); */
}

.html-for-mac .context-menu {
  --item-hover-bg-color: #e6f0fe;
}

/* 侧边栏 */
#typora-sidebar{
  font-family: 'Jetbrains Mono', 'Source Han Sans SC';
  color: var(--mid-12);
  background-color: var(--main-2);
}

/* 文件列表中被选中的结点 */
.file-list-item.active {
  color: var(--active-file-text-color);
  background: var(--active-file-bg-color);
  border-left: 4px solid var(--main-6);
}
/* 文件树中被选中的结点 */
.file-tree-node.active > .file-node-background {
  background-color: var(--active-file-bg-color);
  border-color: var(--active-file-border-color);
  border-left: 4px solid var(--main-6);
}


/* 代码块主题 */
.cm-s-inner.CodeMirror {
  padding: 0.8rem 0 1rem;
  color: #f0f0f0;
  background-color: #292d3e;
  border-radius: 4px;
}

.cm-s-inner .CodeMirror-gutters {
  color: #676e95;
  background: #292d3e;
  border: none;
}

.cm-s-inner .CodeMirror-guttermarker,
.cm-s-inner .CodeMirror-guttermarker-subtle,
.cm-s-inner .CodeMirror-linenumber {
  color: #676e95;
}

.cm-s-inner .CodeMirror-cursor {
  border-left: 1px solid #ffcc00;
}

.cm-s-inner div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(113, 124, 180, 0.2);
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line > span::selection,
.cm-s-inner .CodeMirror-line > span > span::selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line > span::-moz-selection,
.cm-s-inner .CodeMirror-line > span > span::-moz-selection {
  background: rgba(128, 203, 196, 0.2);
}

.cm-s-inner .cm-keyword {
  color: #c792ea;
}

.cm-s-inner .cm-operator {
  color: #89ddff;
}

.cm-s-inner .cm-variable-2 {
  color: #eeffff;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #f07178;
}

.cm-s-inner .cm-builtin {
  color: #ffcb6b;
}

.cm-s-inner .cm-atom {
  color: #f78c6c;
}

.cm-s-inner .cm-number {
  color: #ff5370;
}

.cm-s-inner .cm-def {
  color: #82aaff;
}

.cm-s-inner .cm-string {
  color: #c3e88d;
}

.cm-s-inner .cm-string-2 {
  color: #f07178;
}

.cm-s-inner .cm-comment {
  color: #adadad;
}

.cm-s-inner .cm-variable {
  color: #ffffff;
}

.cm-s-inner .cm-tag {
  color: #ff5370;
}

.cm-s-inner .cm-meta {
  color: #ffcb6b;
}

.cm-s-inner .cm-attribute {
  color: #c792ea;
}

.cm-s-inner .cm-property {
  color: #c792ea;
}

.cm-s-inner .cm-qualifier {
  color: #decb6b;
}

.cm-s-inner .cm-variable-3,
.cm-s-inner .cm-type {
  color: #decb6b;
}

.cm-s-inner .cm-error {
  color: rgba(255, 255, 255, 1);
  background-color: #ff5370;
}

.cm-s-inner .CodeMirror-matchingbracket {
  color: white !important;
  text-decoration: underline;
}
